[Desktop Entry]
Type=Application
Name=Cliplist
Comment=Clipboard history manager
Exec=cliplistd
Icon=cliplist
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-enabled=true
